.calendarDay {
	width: 90px;
	height: 90px;
	border: 1px solid black;
	overflow: auto;
}

.calendarDay:last-child {
	border-right: 2px solid black;
}

.calendarDay h3 {
	margin-left: 13px;
	margin-top: 10px;
	margin-bottom: 0px;
}

.stockValueContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-end;
	overflow: hidden;
}

.stockValue {
	width: 42px;
	margin-bottom: 10px;
}

.stockValue h4 {
	margin: 0px;
}

.stockValue p {
	margin: 0px;
}