.calendar {
    border: 1px solid black;
}

#monthLabel {
    text-align: center;
    background: lightblue;
    padding: 1px;
}

.calendarDaysContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 3px;
    margin-bottom: 3px;
}

#dayLabelContainer {
    display: flex;
    height: 50px;
    flex-direction: row;
    align-items: center;
    margin-left: 3px;
}

.dayLabel{
	width: 92px;
    text-align: center;
}